<div class="content">

    <div class="user">
        <!-- <p class="lead user-welcome"
           [ngClass]="user == null ? 'user-welcome-hide' : ''">Welcome back, </p> -->
        <button class="btn btn-primary mr-2 login-btn"
                *ngIf="user == null"
                [routerLink]="['/loginForm']">
            Login
        </button>
        <button class="btn btn-primary mr-2 login-btn"
                *ngIf="user != null"
                (click)="userLogout()">
            Log out
        </button>
    </div>

    <br>

    <div class="news-navigation">
        
    </div>

    <br>
    <br>

    <div fxLayout="row wrap"
         class="article-card">
        <mat-card class="article"
                  *ngFor="let article of allArticles">
            <mat-card-content class="article-content">
                <img class="article-image img-fluid mx-auto"
                 [src]="'data:' + article?.thumbnail_media_type + ';base64,' + article?.thumbnail_image" 
                 alt="Article image">
    
                <p class="article-title">{{ article.title }}</p>
                <p class="article-abstract">{{ article.abstract }}</p>
            </mat-card-content>

            <mat-card-actions>
                <button>Read more</button>
                <button *ngIf="user != null">Edit article</button>
                <button *ngIf="user != null">Remove article</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>