<div class="content">

    <div class="user">
        <p class="user-welcome"
           *ngIf="user != null">Welcome back, {{ user.username }}!</p>
        <button class="btn btn-primary mr-2 login-btn"
                *ngIf="user == null"
                mat-button
                [routerLink]="['/loginForm']">
            Login
        </button>
        <button class="btn btn-primary mr-2 login-btn"
                *ngIf="user != null"
                mat-button
                (click)="userLogout()">
            Log out
        </button>
    </div>
    
    <div class="new-article"
        *ngIf="user != null">
        <button class="btn btn-primary mr-2 new-btn"
                [routerLink]="['/articleForm']"
                [queryParams]="{'article-edit': false}">
            Create new article
        </button>
    </div>

    <br>
    <br>

    <div class="news-navigation">
        <button mat-button 
                class="nav-btn"
                (click)="filterArticles(0)">
            All articles
        </button>
        <button mat-button 
                class="nav-btn"
                (click)="filterArticles(1)">
            National
        </button>
        <button mat-button 
                class="nav-btn"
                (click)="filterArticles(2)">
            Economy
        </button>
        <button mat-button 
                class="nav-btn"
                (click)="filterArticles(3)">
            Sports
        </button>
        <button mat-button 
                class="nav-btn"
                (click)="filterArticles(4)">
            Technology
        </button>

        <div class="article-filter">
            <input type="text"
                   class="lead article-filter-input"
                   name="content"
                   [(ngModel)]="content"
                   placeholder="Specific content you're looking for...">
        </div>
    </div>

    <div class="dropdown">
        <span>
            <button class="filter-button">
                <img src="../../assets/images/filtrar.png" 
                     alt="Filter articles"
                     class="filter-icon">
            </button>
        </span>
        <div class="dropdown-content">
            <button mat-button 
                class="nav-btn"
                (click)="filterArticles(0)">
                All articles
            </button>
            <button mat-button 
                class="nav-btn"
                (click)="filterArticles(1)">
                National
            </button>
            <button mat-button 
                class="nav-btn"
                (click)="filterArticles(2)">
                Economy
            </button>
            <button mat-button 
                class="nav-btn"
                (click)="filterArticles(3)">
                Sports
            </button>
            <button mat-button 
                class="nav-btn"
                (click)="filterArticles(4)">
                Technology
            </button>

            <br>

            <div class="article-filter">
                <input type="text"
                       class="lead article-filter-input"
                       name="content"
                       [(ngModel)]="content"
                       placeholder="Filter content...">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div fxLayout="row wrap"
         class="article-card">
        <mat-card class="article"
                  *ngFor="let article of articlesToShow | articleFilter:content">
        <!-- <mat-card class="article"
                  *ngFor="let article of articlesToShow"> -->
            <div *ngIf="article.is_deleted == 0">
                <mat-card-content class="article-content">
                    <a href="/articleViewer?article={{ article.id }}">
                        <img class="article-image img-fluid mx-auto"
                            [src]="'data:' + article?.thumbnail_media_type + ';base64,' + article?.thumbnail_image" 
                            alt="Article image">
                    </a>
        
                    <a href="/articleViewer?article={{ article.id }}">
                        <p class="article-title">{{ article.title }}</p>
                    </a>
                    
                    <p class="article-subtitle">{{ article.subtitle }}</p>
                    <div class="article-abstract" 
                         [innerHTML]="article.abstract"> </div>
                    
                    <p class="detailed-info">{{ article.category }} · 
                        <a href="/articleViewer?article={{ article.id }}"
                           class="article-viewer-btn"> 
                            Read more
                        </a>
                    </p>
                    <!-- <a href="/articleViewer?article={{ article.id }}">
                        <p class="article-viewer-btn">Read more</p>
                    </a> -->
                </mat-card-content>

                <mat-card-actions class="action-btns">
                    <button mat-button
                            *ngIf="user != null"
                            [routerLink]="['/articleForm']"
                            [queryParams]="{'article-edit': true, 'article-id': article.id}">
                        <i class="material-icons md-18">edit</i>
                        Edit article
                    </button>
                    <button mat-button
                            *ngIf="user != null"
                            (click)="deleteArticle(article.id)">
                        <i class="material-icons md-18">delete_outline</i>
                        Delete article
                    </button>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>

</div>