.user {
    margin-bottom: 5%;
}

.mat-card:first-child { margin-top: 0; }

.user-welcome {
    width: 50%;
    font-family: 'Work Sans';
    font-size: 16px;
    float: top;
    color: lightslategray;
}

.clearfix {
    margin-top: -5%;
}

.login-btn {
    float: top;
    position: right;
    background-color: black;
    color: white;
}

.new-article {
    width: 100%;
}

.new-btn {
    float: right;
    background-color: white;
    color: black !important;
}

.new-btn:hover {
    background-color: grey;
}

@media(min-width: 1000px) {
    .article {
        width: 30%;
    }

    .article-filter-input {
        margin-left: 2em;
    }
}

@media(min-width: 770px) and (max-width: 999px) {
    .article {
        width: 48%;
    }

    .article-filter-input {
        margin-left: 2em;
    }
}

@media(max-width: 769px) {
    .article {
        width: 100%;
    }

    .article-filter-input {
        margin-left: 0;
    }
}

.article {
    margin: auto;
    box-shadow: none !important;
    border: 1px solid lightgray;
}

.article-image {
    width: 100%;
}

.article-title {
    margin-top: 6%;
    font-size: 22px;
    font-weight: bolder;
    color: black;
}

.article-title:hover {
    text-decoration: underline black !important;
}

.article-title,
.article-subtitle,
.article-abstract,
.article-viewer-btn,
.detailed-info {
    /* text-align: center !important; */
    font-family: 'Georgia';
}

.article-subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}

.article-viewer-btn {
    color: black;
    text-decoration: underline;
    padding: 1%;
}

.detailed-info {
    margin-top: 8%;
}

.action-btns {
    float: right;
}

.action-btns button:hover {
    background-color: black;
    color: white;
}

.news-navigation {
    margin-top: 2% !important;
    display: inline;
}

.dropdown {
    display: none;
    background-color: #007BFF;
    border-radius: 1em;
    border-width: 1cm;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*If screen is narrower than 600 px (i.e. mobile) the filtering tab is
presented as a dropdown menu instead*/
@media screen and (max-width: 995px) {
    .news-navigation {
        display: none;
    }
    .dropdown {
        display: inline-block;
    }

    .article-filter-input {
        margin-top: 2%;
        width: 100% !important;
    }

    .nav-btn {
        width: 100% !important;
        text-align: left !important;
        margin-right: 1% !important;
    }
}

.nav-btn:focus {
    background-color: black;
    color: white !important;
}

.dropdown-content {
    min-width: 250px !important;
}

.filter-button {
    border: 0;
    background-color: white;
}

.filter-icon {
    width: 30px;
}

.article-filter {
    width: 100% !important;
    margin-bottom: 0;
    overflow: hidden;
    display: contents;
    margin: 0.5% 0 0 0;
}

.article-filter-text,
.article-filter-input {
    margin-bottom: 0.5%;
}

.article-filter-text {
    float: left;
    width: 30%;
    font-size: 18px;
}

.article-filter-input {
    width: 30%;
}

.article-filter-input::placeholder {
    color: grey;
    font-size: 16px;
}

.article-filter-input::content {
    padding-left: 1%;
}

.action-filter {
    margin-right: 2%;
}

.mat-card {
    margin: 1% !important;
    border: none;
}

.separator {
    background-color: lightgray;
    width: 100%;
    height: 1px;
    margin-top: 2%;
}