<div class="content">

    <div class="user">
        <!-- <p class="lead user-welcome"
           [ngClass]="user == null ? 'user-welcome-hide' : ''">Welcome back, </p> -->
        <button class="btn btn-primary mr-2 login-btn"
                [routerLink]="['/loginForm']">
            Login
        </button>
    </div>

    <br>

    <div class="news-navigation">
        
    </div>

    <br>
    <br>

    <div class="news-list wrapper">
        <ng-template ngFor let-new [ngForOf]="allNews" let-i="index">
            <div class="item2">
                <img class="article-image img-responsive"
                    src="{{ new.thumbnail_image }}" 
                    alt="Article image">
                <p>{{ new.title }}</p>
                <p>{{ new.abstract }}</p>
            </div>
        </ng-template>
    </div>

</div>