.user-welcome {
    width: 50%;
    font-family: 'Work Sans';
    font-size: 16px;
    float: left;
    margin: auto;
    color: lightslategray;
}

.login-btn {
    float: right;
}

.new-article {
    width: 100%;
}

.new-btn {
    float: right;
}

@media(min-width: 1000px) {
    .article {
        width: 30%;
    }
}

@media(min-width: 770px) and (max-width: 999px) {
    .article {
        width: 48%;
    }
}

@media(max-width: 769px) {
    .article {
        width: 100%;
    }
}

.article {
    margin: auto;
    box-shadow: none !important;
    border: 1px solid lightgray;
}

.article-image {
    width: 100%;
}

.article-title {
    margin-top: 6%;
    font-size: 22px;
    font-weight: bolder;
    color: black;
}

.article-title:hover {
    text-decoration: underline black !important;
}

.article-title,
.article-subtitle,
.article-abstract,
.article-viewer-btn {
    text-align: center;
    font-family: 'Georgia';
}

.article-subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}

.article-viewer-btn {
    color: black;
    text-decoration: underline;
    padding: 1%;
}

/* .article-viewer-btn:hover {
    background-color: black;
    color: white;
    text-decoration: underline white;
} */

.action-btns {
    float: right;
}

.action-btns button:hover {
    background-color: black;
    color: white;
}

.news-navigation {
    display: inline;
}

.nav-btn {
    margin-right: 1% !important;
}

.article-filter {
    margin-bottom: 0;
    overflow: hidden;
    display: contents;
    margin: 0.5% 0 0 0;
}

.article-filter-text,
.article-filter-input {
    margin-bottom: 0.5%;
}

.article-filter-text {
    float: left;
    width: 30%;
    font-size: 18px;
}

.article-filter-input {
    width: 30%;
}

.article-filter-input::placeholder {
    color: grey;
    font-size: 16px;
}

.article-filter-input::content {
    padding-left: 2%;
}

.action-filter {
    margin-right: 2%;
}