.login-title {
    margin-top: 10%;
    text-align: center;
    font-family: 'Work Sans';
    font-weight: bold;
}

.login-form {
    width: 70%;
    margin: auto;
}

.input-username, 
.input-password {
    width: 100%;
    margin-bottom: 4%;
    padding: 1%;
}

.input-username::placeholder,
.input-password::placeholder {
    color: lightgrey;
}

.input-button {
    width: 100%;
    margin-bottom: 2%;
    padding: 1%;
}

button:disabled {
    background-color: lightgray;
    border-color: lightgray;
} 

.submit-button {
    background-color: black;
    color: white !important;
}

.cancel-button {
    border: 1px solid black;
}

.cancel-button:hover {
    background-color: black;
    color: white;
}

.form-buttons {
    margin-bottom: 5%;
}

.form-group label {
    font-family: 'Work Sans';
    font-weight: 500;
}

.separator {
    background-color: lightgray;
    width: 100%;
    height: 1px;
    margin-top: -3%;
    margin-bottom: 2%;
}

div.image {
    content:url(https://i.ibb.co/TrTzkm8/Picture.png);
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    margin-left: -32%;
    /* margin-right: -50%; */
 }