<div class="separator"></div>

<h2 class="login-title">Welcome back!</h2>

<br>

<form #loginForm="ngForm" (ngSubmit)="userLogin()"
      class="login-form">
       <div class="form-group">
              <label>Username *</label>
              <input class="input-username"
                     [(ngModel)]="username"
                     type="text" 
                     #lusername="ngModel"
                     placeholder="username"
                     name="lusername"
                     #lusername="ngModel"
                     required>
       </div>

       <div class="form-group">
              <label>Password *</label>
              <input class="input-password"
                     [(ngModel)]="password"
                     type="password" 
                     placeholder="password"
                     name="lpassword"
                     #lpassword="ngModel"
                     required>
       </div>

       <div class="form-buttons">
              <button class="input-button submit-button"
                      mat-button
                      type="submit"
                      [disabled]="!loginForm.form.valid">
                     Login
              </button>

              <button class="input-button cancel-button"
                      mat-button
                      [routerLink]="'/articleGrid'">
                     Cancel
              </button>
       </div>

       <div class="image"></div>
</form>
