<div class="article">

    <h2 *ngIf="article"
        class="article-title">
        {{ article.title }}
    </h2>

    <h5 *ngIf="article"
        class="article-subtitle">
        {{ article.subtitle }}
    </h5>

    <img *ngIf="article"
         class="article-image img-fluid mx-auto"
         [src]="'data:' + article?.image_media_type + ';base64,' + article?.image_data" 
         alt="{{article?.image_description}}">
         
    <div *ngIf="article"
         class="article-abstract" 
         [innerHTML]="article.abstract"> </div>

    <div *ngIf="article"
         class="article-body" 
         [innerHTML]="article.body"> </div>

    <div class="article-edit-info">
        <p class="article-update-info">{{ article.id_user }} · {{ article.update_date }}</p>
    </div>

    <div class="bottom-navigation">
        <button mat-button class="back-btn"
                [routerLink]="['/articleGrid']">
            <i class="material-icons md-18">keyboard_backspace</i>
            Back to home
        </button>
    </div>

</div>