<div class="container">

  <div class="jumbotron">
    <h1 class="newspaper-name">Programming times</h1>
    <p class="newspaper-desc">Read, edit, add and delete your articles!</p>
  </div>

  <!-- <div class="nav-buttons">
    <button class="btn btn-primary mr-2"
            [routerLink]="['/articleGrid']">
        All news
    </button> -->

    <!-- <button class="btn btn-primary mr-2"
            [routerLink]="['/articleViewer']">
        View article
    </button> -->

    <!-- <button class="btn btn-primary mr-2"
            [routerLink]="['/articleForm']">
        Article form
    </button> -->
  <!-- </div> -->

  <router-outlet></router-outlet>

</div>