<div class="container">

  <div class="jumbotron">
    <h1 class="display-4 newspaper-name">Newspaper name</h1>
    <p class="lead newspaper-desc">Newspaper description</p>
  </div>

  <div class="nav-buttons">
    <button class="btn btn-primary mr-2"
            [routerLink]="['/articleGrid']">
        All news
    </button>

    <button class="btn btn-primary mr-2"
            [routerLink]="['/articleViewer']">
        View article
    </button>

    <button class="btn btn-primary mr-2"
            [routerLink]="['/articleForm']">
        Article form
    </button>

    <button class="btn btn-primary mr-2 login-btn"
            [routerLink]="['/loginForm']">
        Login
    </button>
  </div>

  <br>
  <br>

  <router-outlet></router-outlet>

</div>