.form-buttons {
    width: 100%;
    margin: auto;
    margin-top: 8%;
}

.form-button {
    width: 48%;
    margin: auto;
}

.cancel-btn {
    border: 1px solid black;
    font-size: 'Work Sans' !important;
}

.cancel-btn:hover {
    background-color: black;
    color: white;
}

.submit-btn {
    float: right;
    background-color: black;
    color: white;
    border: 1px solid black;
}