<form #articleForm="ngForm" (ngSubmit)="sendArticle()" 
      #form="ngForm"
      class="article-form">
    <div class="form-group">
        <label>Title *</label>
        <input class="form-control"
               [(ngModel)]="article.title" 
               [ngClass]="atitle.valid || atitle.pristine ? '': 'form-error'"
               type="text"
               required
               placeholder="Article title"
               name="atitle" 
               #atitle="ngModel">
    </div>

    <div class="alert alert-danger" *ngIf="atitle.touched && !atitle.valid">
        <div *ngIf="atitle.errors.required">
            <p class="error-msg">The article title is required.</p>
        </div>
    </div>

    <div class="form-group">
        <label>Subtitle *</label>
        <input class="form-control"
               [(ngModel)]="article.subtitle" 
               [ngClass]="asubtitle.valid || asubtitle.pristine ? '': 'form-error'"
               type="text"
               required
               placeholder="Article subtitle"
               name="asubtitle" 
               #asubtitle="ngModel">
    </div>

    <div class="alert alert-danger" *ngIf="asubtitle.touched && !asubtitle.valid">
        <div *ngIf="asubtitle.errors.required">
            <p class="error-msg">The article subtitle is required.</p>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">Category *</label>
        <select class="custom-select my-1 mr-sm-2"
                [(ngModel)]="article.category"  
                name="acategory" 
                #acategory="ngModel"
                id="inlineFormCustomSelectPref"
                required>
            <option value="" disabled selected>Choose the article's category...</option>
            <option value="National">National</option>
            <option value="Economy">Economy</option>
            <option value="Sports">Sports</option>
            <option value="Technology">Technology </option>
        </select>
    </div>

    <div class="alert alert-danger" *ngIf="acategory.touched && !acategory.valid">
        <div *ngIf="acategory.errors.required">
            <p class="error-msg">The article category is required.</p>
        </div>
    </div>

    <div class="form-group">
        <label>Abstract *</label>
        <angular-editor [config]="abstractEditorConfig"
                        [ngClass]="aabstract.valid || aabstract.pristine ? '': 'form-error'"
                        [(ngModel)]="article.abstract"
                        name="aabstract"
                        required
                        #aabstract="ngModel">

        </angular-editor>
    </div>

    <div class="alert alert-danger" *ngIf="aabstract.touched && !aabstract.valid">
        <div *ngIf="aabstract.errors.required">
            <p class="error-msg">The article abstract is required.</p>
        </div>
    </div>

    <div class="form-group">
        <label>Body</label>
        <angular-editor [config]="bodyEditorConfig"
                        [(ngModel)]="article.body"
                        name="abody"
                        #abody="ngModel">

        </angular-editor>
    </div>

    <div class="form-group image-div"
         *ngIf="isImageMissing == false">
        <div class="image-info-div">
            <label class="current-article-image-label">Current article image</label>

            <button class="change-image-button"
                    (click)="changeImage()"
                    mat-button>
                Change article image
            </button>
        </div>

        <img class="current-article-image"
             [src]="'data:' + article?.image_media_type + ';base64,' + article?.image_data" 
             alt="{{article?.image_description}}">
    </div>

    <div class="form-group"
         *ngIf="isImageMissing == true">
        <label>Article image *</label>
        <input class="form-control image-input"
               #imageInput
               type="file"
               accept="image/png, image/jpeg"
               required
               (change)="fileChangeEvent(imageInput)">
    </div>

    <div class="form-buttons">
        <button [routerLink]="['/articleGrid']"
                class="cancel-btn"
                mat-button>
            Cancel
        </button>

        <button *ngIf="articleEdition == false"
                type="submit"
                [disabled]="!articleForm.form.valid"
                class="submit-btn"
                mat-button>
            Create new article
        </button>

        <button *ngIf="articleEdition == true"
                type="submit"
                [disabled]="!articleForm.form.valid"
                class="submit-btn"
                mat-button>
            Edit article
        </button>
    </div>
</form>