<div class="article-form">

    <form #articleForm="ngForm" (ngSubmit)="sendArticle()">
        <div class="form-group">
            <label class="form-label">Title *</label>
            <input class="form-control"
                   [(ngModel)]="article.title"
                   [ngClass]="atitle.valid || atitle.pristine ? '': 'form-error'"
                   type="text" 
                   placeholder="Article title"
                   required
                   name="atitle"
                   #atitle="ngModel">
        </div>

        <div class="alert alert-danger" *ngIf="atitle.touched && !atitle.valid">
            <div *ngIf="atitle.errors.required">
                <p class="error-msg">The article title is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Subtitle *</label>
            <input class="form-control"
                   [(ngModel)]="article.subtitle"
                   [ngClass]="asubtitle.valid || asubtitle.pristine ? '': 'form-error'"
                   type="text" 
                   placeholder="Article subtitle"
                   required
                   name="asubtitle"
                   #asubtitle="ngModel">
        </div>

        <div class="alert alert-danger" *ngIf="asubtitle.touched && !asubtitle.valid">
            <div *ngIf="asubtitle.errors.required">
                <p class="error-msg">The article subtitle is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Category *</label>
            <select class="custom-select my-1 mr-sm-2" 
                    id="inlineFormCustomSelectPref">
                <option selected>Choose...</option>
                <option value="1">National</option>
                <option value="2">Economy</option>
                <option value="3">Sports</option>
                <option value="4">Technology </option>
            </select>
        </div>

        <!-- <div class="alert alert-danger" *ngIf="asubtitle.touched && !asubtitle.valid">
            <div *ngIf="asubtitle.errors.required">
                <p class="error-msg">The article subtitle is required.</p>
            </div>
        </div> -->

        <div class="form-group">
            <label class="form-label upload-image-label">Upload image </label>
            <!-- TODO: image upload -->
        </div>

        <div class="form-group">
            <label class="form-label">Abstract *</label>
            <input class="form-control"
                   [(ngModel)]="article.abstract"
                   [ngClass]="aabstract.valid || aabstract.pristine ? '': 'form-error'"
                   type="text" 
                   placeholder="Article abstract"
                   required
                   name="aabstract"
                   #aabstract="ngModel">
        </div>

        <div class="alert alert-danger" *ngIf="aabstract.touched && !aabstract.valid">
            <div *ngIf="aabstract.errors.required">
                <p class="error-msg">The article subtitle is required.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Body *</label>
            <input class="form-control"
                   [(ngModel)]="article.abstract"
                   [ngClass]="abody.valid || abody.pristine ? '': 'form-error'"
                   type="text" 
                   placeholder="Article body"
                   required
                   name="abody"
                   #abody="ngModel">
        </div>

        <div class="alert alert-danger" *ngIf="abody.touched && !abody.valid">
            <div *ngIf="abody.errors.required">
                <p class="error-msg">The article subtitle is required.</p>
            </div>
        </div>

        <div class=form-buttons>
            <button class="form-button cancel-btn btn"
                    mat-flat-button
                    [routerLink]="['/articleGrid']"> 
                Cancel
            </button>

            <button type="submit"
                    [disabled]="!articleForm.form.valid"
                    class="form-button submit-btn btn"
                    mat-flat-button> 
                Create article 
            </button>
        </div>

    </form>

</div>